<div *ngIf="currentRoute === '/admin' else userBlock">
  <div class="text-center">
    <select (change)="onChangeName($event.target.value)" class="form-control-lg">
      <option value="allCompanies">All Companies</option>
      <option *ngFor="let company of companies | async" value={{company.companyName}}>{{company.companyName}}</option>
    </select>
  </div>
</div>

<ng-template #userBlock>
  <div class="text-center">
    <select (change)="onChangeType($event.target.value)" class="form-control-lg">
      <option value="allCompanies">All Companies</option>
      <option value="modern">Modern</option>
      <option value="jazz">Jazz</option>
      <option value="ballet">Ballet</option>
      <option value="contemporary">Contemporary</option>
    </select>
  </div>
</ng-template>


<div *ngIf="currentRoute === '/admin' else otherUserBlock">
  <div *ngFor="let company of companies | async | name:filterByName" class="well">
    <h3 (click)="goToCompanyPage(company)">{{company.companyName}}
      <small>{{company.type}}</small>
    </h3>
    <h4>Director/Choreographer: {{company.choreographer}}</h4>
    <div class="row">
      <h4 *ngFor="let member of company.companyMembers" class="col-xs-3">{{member}}</h4>
    </div>
    <hr>
    <p>{{company.about}}</p>
    <hr>
    <h4>{{company.website}}</h4>
    <hr>
    <app-edit-company [selectedCompany]="company"></app-edit-company>
  </div>
</div>

<ng-template #otherUserBlock>
  <div *ngFor="let company of companies | async | type:filterByType" class="well">
    <h4 (click)="goToCompanyPage(company)">{{company.companyName}}</h4>
  </div>
</ng-template>
