<div class="well">
  <div>
    <h3>Fill out form to add company to list</h3>
  </div>
  <hr>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="company-name">New Company Name</label>
          <input class="form-control" type="text" #newCompanyName required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="type">New Company Style</label>
          <input class="form-control" type="text" #newType required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="choreographer">New Company Choreographer</label>
          <input class="form-control" type="text" #newChoreographer required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="website">New Company website</label>
          <input class="form-control" type="text" #newWebsite required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="company-members">New Company Members</label>
      <input class="form-control" type="text" #newCompanyMembers required>
    </div>

    <div class="form-group">
      <label for="about">New Company About</label>
      <textarea class="form-control" type="text" #newAbout rows="10" required></textarea>
    </div>


  </form>
  <hr>
  <button (click)="submitNewCompany(newCompanyName.value, newType.value, newChoreographer.value, newCompanyMembers.value, newAbout.value, newWebsite.value);newCompanyName.value=''; newType.value=''; newChoreographer.value=''; newCompanyMembers.value=''; newAbout.value=''; newWebsite.value='';"
    class="btn btn-block">Submit Company</button>
</div>
