<div class="jumbotron">
  <h2>About Dance Network</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ut, ratione, numquam labore amet similique voluptatem
    eaque quis itaque error illo modi. Suscipit, praesentium quos! Ex commodi suscipit in libero. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Beatae fuga iusto, facere eveniet illum iste minus dicta consequatur aut autem assumenda?
    Sunt, rem fugiat expedita vel tempore maiores et consequuntur.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ut, ratione, numquam labore amet similique voluptatem
    eaque quis itaque error illo modi. Suscipit, praesentium quos! Ex commodi suscipit in libero. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Beatae fuga iusto, facere eveniet illum iste minus dicta consequatur aut autem assumenda?
    Sunt, rem fugiat expedita vel tempore maiores et consequuntur.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ut, ratione, numquam labore amet similique voluptatem
    eaque quis itaque error illo modi. Suscipit, praesentium quos! Ex commodi suscipit in libero. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Beatae fuga iusto, facere eveniet illum iste minus dicta consequatur aut autem assumenda?
    Sunt, rem fugiat expedita vel tempore maiores et consequuntur.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ut, ratione, numquam labore amet similique voluptatem
    eaque quis itaque error illo modi. Suscipit, praesentium quos! Ex commodi suscipit in libero. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Beatae fuga iusto, facere eveniet illum iste minus dicta consequatur aut autem assumenda?
    Sunt, rem fugiat expedita vel tempore maiores et consequuntur.</p>

</div>
