<div class="text-center">
  <img src="assets/images/welcome_photo_1.jpg" alt="...">
  <img src="assets/images/welcome_photo_2.jpg" alt="...">
  <img src="assets/images/welcome_photo_3.jpg" alt="...">
  <img src="assets/images/welcome_photo_4.jpg" alt="...">
</div>
<div class="jumbotron">
  <h1>Welcome to Dance NetWork</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, explicabo pariatur asperiores possimus quos iste sint quidem
    deserunt excepturi omnis similique. Accusamus, a dolorem nam molestiae similique tenetur dolore voluptate! Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Aut officiis saepe doloremque modi vitae ex sunt quaerat, corrupti nam
    quo nulla fugit eum. Ipsam, assumenda? Error voluptate voluptates officiis delectus? Lorem ipsum dolor sit amet consectetur,
    adipisicing elit. Blanditiis maiores reprehenderit expedita quidem. Commodi aliquam ab dignissimos eaque autem, possimus
    nostrum, voluptas reiciendis molestiae quas, iusto repellat temporibus in neque. Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Enim, explicabo pariatur asperiores possimus quos iste sint quidem deserunt excepturi omnis similique.
    Accusamus, a dolorem nam molestiae similique tenetur dolore voluptate! Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Aut officiis saepe doloremque modi vitae ex sunt quaerat, corrupti nam quo nulla fugit eum. Ipsam, assumenda? Error
    voluptate voluptates officiis delectus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis maiores
    reprehenderit expedita quidem. Commodi aliquam ab dignissimos eaque autem, possimus nostrum, voluptas reiciendis molestiae
    quas, iusto repellat temporibus in neque.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, explicabo pariatur asperiores possimus quos iste sint quidem
    deserunt excepturi omnis similique. Accusamus, a dolorem nam molestiae similique tenetur dolore voluptate! Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Aut officiis saepe doloremque modi vitae ex sunt quaerat, corrupti nam
    quo nulla fugit eum. Ipsam, assumenda? Error voluptate voluptates officiis delectus? Lorem ipsum dolor sit amet consectetur,
    adipisicing elit. Blanditiis maiores reprehenderit expedita quidem. Commodi aliquam ab dignissimos eaque autem, possimus
    nostrum, voluptas reiciendis molestiae quas, iusto repellat temporibus in neque. Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Enim, explicabo pariatur asperiores possimus quos iste sint quidem deserunt excepturi omnis similique.
    Accusamus, a dolorem nam molestiae similique tenetur dolore voluptate! Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Aut officiis saepe doloremque modi vitae ex sunt quaerat, corrupti nam quo nulla fugit eum. Ipsam, assumenda? Error
    voluptate voluptates officiis delectus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis maiores
    reprehenderit expedita quidem. Commodi aliquam ab dignissimos eaque autem, possimus nostrum, voluptas reiciendis molestiae
    quas, iusto repellat temporibus in neque.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, explicabo pariatur asperiores possimus quos iste sint quidem
    deserunt excepturi omnis similique. Accusamus, a dolorem nam molestiae similique tenetur dolore voluptate! Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Aut officiis saepe doloremque modi vitae ex sunt quaerat, corrupti nam
    quo nulla fugit eum. Ipsam, assumenda? Error voluptate voluptates officiis delectus? Lorem ipsum dolor sit amet consectetur,
    adipisicing elit. Blanditiis maiores reprehenderit expedita quidem. Commodi aliquam ab dignissimos eaque autem, possimus
    nostrum, voluptas reiciendis molestiae quas, iusto repellat temporibus in neque. Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Enim, explicabo pariatur asperiores possimus quos iste sint quidem deserunt excepturi omnis similique.
    Accusamus, a dolorem nam molestiae similique tenetur dolore voluptate! Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Aut officiis saepe doloremque modi vitae ex sunt quaerat, corrupti nam quo nulla fugit eum. Ipsam, assumenda? Error
    voluptate voluptates officiis delectus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis maiores
    reprehenderit expedita quidem. Commodi aliquam ab dignissimos eaque autem, possimus nostrum, voluptas reiciendis molestiae
    quas, iusto repellat temporibus in neque.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, explicabo pariatur asperiores possimus quos iste sint quidem
    deserunt excepturi omnis similique. Accusamus, a dolorem nam molestiae similique tenetur dolore voluptate! Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Aut officiis saepe doloremque modi vitae ex sunt quaerat, corrupti nam
    quo nulla fugit eum. Ipsam, assumenda? Error voluptate voluptates officiis delectus? Lorem ipsum dolor sit amet consectetur,
    adipisicing elit. Blanditiis maiores reprehenderit expedita quidem. Commodi aliquam ab dignissimos eaque autem, possimus
    nostrum, voluptas reiciendis molestiae quas, iusto repellat temporibus in neque. Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Enim, explicabo pariatur asperiores possimus quos iste sint quidem deserunt excepturi omnis similique.
    Accusamus, a dolorem nam molestiae similique tenetur dolore voluptate! Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Aut officiis saepe doloremque modi vitae ex sunt quaerat, corrupti nam quo nulla fugit eum. Ipsam, assumenda? Error
    voluptate voluptates officiis delectus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis maiores
    reprehenderit expedita quidem. Commodi aliquam ab dignissimos eaque autem, possimus nostrum, voluptas reiciendis molestiae
    quas, iusto repellat temporibus in neque.
  </p>

</div>
