<div class=well>
  <div class="page-header">
    <h1>{{(companyToDisplay | async ).companyName}}
      <small>{{(companyToDisplay | async ).type}}</small>
    </h1>
  </div>
  <p>{{(companyToDisplay | async ).choreographer}}</p>
  <div class="row">
    <p *ngFor="let member of (companyToDisplay | async ).companyMembers" class="col-md-3">{{member}} </p>
  </div>
  <p>{{(companyToDisplay | async ).about}}</p>
  <a [href]="(companyToDisplay | async ).website">
    <p>{{(companyToDisplay | async ).companyName}}</p>
  </a>
</div>
