<div class=well>
  <div class="page-header">
    <h1>
      <a [href]="(companyToDisplay | async ).website">{{(companyToDisplay | async ).companyName}}</a>
      <small>{{(companyToDisplay | async ).type}}</small>
    </h1>
  </div>
  <div class="text-center">
    <h4>Director/Choreographer:</h4>
    <p>{{(companyToDisplay | async ).choreographer}}</p>
  </div>
  <h4>Company Members</h4>
  <div class="row">
    <p *ngFor="let member of (companyToDisplay | async ).companyMembers" class="col-md-3">{{member}} </p>
  </div>
  <hr>
  <p>{{(companyToDisplay | async ).about}}</p>
</div>
